{% extends 'layouts/base.html' %}

{% block title %}ToxicDownloader{% endblock %}
{% block meta_description %}ToxicDownloader lets you preview and download public media from supported platforms with a clean, responsive interface.{% endblock %}

{% block extra_head %}
  <meta property="og:type" content="website" />
  <meta name="keywords" content="social media video downloader, online video downloader, YouTube video downloader, TikTok video downloader, Instagram video downloader, Facebook video downloader, public video downloader" />
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebApplication",
      "name": "ToxicDownloader",
      "url": "{{ request.url_root.rstrip('/') }}/",
      "applicationCategory": "MultimediaApplication",
      "operatingSystem": "Web Browser",
      "description": "A responsive tool for previewing and downloading publicly accessible social media videos from supported platforms.",
      "publisher": { "@type": "Organization", "name": "ToxicDownloader" },
      "offers": { "@type": "Offer", "price": "0", "priceCurrency": "USD" },
      "featureList": ["Public media preview", "Available format selection", "Queued download processing", "Download progress reporting"]
    }
  </script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}?v=6" />
{% endblock %}

{% block content %}
  <div class="container" id="home">
    {% include 'pages/home/hero.html' %}
    {% include 'pages/home/downloader.html' %}
    {% include 'pages/home/workflow.html' %}
    {% include 'pages/home/features.html' %}
    {% include 'pages/home/information.html' %}
    {% include 'components/ad-slot.html' %}
  </div>
{% endblock %}

{% block extra_scripts %}
  <script src="{{ url_for('static', filename='js/downloader.js') }}?v=4" defer></script>
{% endblock %}
